body {
    background-color: rgba(100, 149, 237, 0.3);
}

.login_container {
    border-radius: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
}

h1 {
    margin: 50px auto -10px auto;
    background-color: black;
    border-radius: 50px;
    color: white;
    width: 300px;
    text-align: center;
    padding: 20px;
    z-index: 2;

}

.video_intro_container {
    border-radius: 50px;
    overflow: hidden;
    margin: auto auto;
    width: 60%;
    height: 90%;
    position: relative;
}

.video_intro_container video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form_container {
    border-radius: 50px;
    overflow: hidden;
    background-color: #d0def9;
    border: 1px solid black;
    margin: auto;
    display: flex;
    align-items: center;
    height: 50%;
    width: 30%;
    padding: 30px;
}

p {
    margin: 10px auto 10px auto;
    background-color: black;
    border-radius: 50px;
    color: white;
    width: fit-content;
    text-align: center;
    padding: 20px;
}

form {
    width: 100%;
}

form input{
    margin: 10px auto;
    border-radius: 50px;
    height: 30px;
    width: 100%;
    text-align: center;
}

.submit_button {
    margin: 0 auto;
    width: 50%;
    display: block;
}

#signup_button {
    margin: 0 -7px 0 auto;
}

@media (max-width: 700px) {
    .login_container {
        display: block;
        height: 100vh;
    }

    .video_intro_container {
        width: 100%;
        height: 50%;
    }

    .form_container {
        height: 30%;
        width: 50%;
        margin: 20px auto;
    }
}

@media (max-width: 400px) {
    .login_container {
        display: block;
        height: 60vh;
    }

    .video_intro_container {
        width: 100%;
        height: 40%;
    }

    .form_container {
        height: 30%;
        width: 50%;
        margin: 20px auto;
    }
}

@media (max-width: 1000px) {
    .video_intro_container {
        height: 70%;
    }
}

div.error {
    border-radius: 0;
    width: fit-content;
    padding: 0 5px;
    margin: 0 auto -45px auto;
}






