.feed h1 {
    color: black;
}

.feed__posts {
    padding: revert;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.post {
    margin: 5px;
    flex: 1 1 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.delete_posts {
    background-color: black;
    border-radius: 10px;
    margin: 20px 0 20px 20px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* attenzione alla differenza tra post e posts */

#deletePostsButton {
    background-color: red;
    font-size: 35px;
    border-radius: 40px;
    padding: 20px;
} #deletePostsButton:hover {
    background-color: #a80707;
    cursor: pointer;
  }

  #deletePostButton {
      text-align: center;
      background-color: red;
      font-size: 15px;
      border-radius: 40px;
      padding: 10px;
  } #deletePostButton:hover {
          background-color: #a80707;
          cursor: pointer;
      }

div.deleteFeedback {
    background-color: black;
    border-radius: 10px;
    margin: 20px 0 20px 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}